.rotating-image {
  min-width: 150px;
  border-radius: 50px;
}

.sample-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 25rem;
  row-gap: 10rem;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20%;
}

.rotate-sign-wrapper {
  width: 10rem;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
.rotate-sign {
  margin-top: auto;
  height: 14px;
  width: 100%;
}

.rotate-sign-2 {
  margin-left: 1rem;
  margin-top: auto;
  height: 14px;
  width: auto;
}
.rotate-image-loader {
  margin-top: 1rem;
  margin-right: 0;
  position: absolute;
  right: 1rem;
  top: 0;
}

@media screen and (max-width: 1200px) {
  .rotating-image {
    border-radius: 50px;
    min-width: 150px;
  }

  .sample-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10rem;
    row-gap: 10rem;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20rem;
  }
}
