.carousel-indicators li,
.carousel-indicators li.active {
  float: left;
  width: 33%;
  height: 2rem;
  margin: 0;
  border-radius: 0;
  border: 0;
  background: transparent;
}

.carousel-indicators ol {
  width: 100%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition-timing-function: ease;
  transition: 0.4s;
}

.carousel-caption {
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1200px) {
  .carousel-indicators li,
  .carousel-indicators li.active {
    float: left;
    width: 22%;
    height: 2rem;
    margin: 0;
    border-radius: 0;
    border: 0;
    background: transparent;
  }
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color: transparent;
    transition-timing-function: ease;
    transition: 0.4s;
  }

  .carousel-caption h3 {
    /* Header */
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.7);

    margin: 0;
    padding-top: 1%;
  }
  .carousel-caption p {
    /* Description */
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding-bottom: 1%;
  }
  .carousel-indicators li {
    /* Indicators */
    width: 8px;
    height: 8px;
  }

  .carousel-caption {
    background: none;
    height: 10%;
  }

  .carousel-image {
    min-height: 180px;
    min-width: 100%;
    overflow: hidden;
  }
}
