.rotating-image {
  min-width: 150px;
  border-radius: 50px;
}

.sample-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 25rem;
  row-gap: 10rem;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20%;
}

.rotate_sign {
  width: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1200px) {
  .rotating-image {
    border-radius: 50px;
    min-width: 150px;
  }

  .sample-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10rem;
    row-gap: 10rem;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20rem;
  }
}
