.carousel-indicators li,
.carousel-indicators li.active {
  float: left;
  width: 33%;
  height: 2rem;
  margin: 0;
  border-radius: 0;
  border: 0;
  background: transparent;
}

.carousel-indicators ol {
  width: 100%;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(40%);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  filter: invert(140%);

  background-color: rgba(19, 19, 19, 0.7);
  transition-timing-function: ease;
  transition: 0.4s;
}

.carousel-caption {
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.5);
}
.carousel-caption h3 {
  color: white;
}
.carousel-image {
  max-height: 450px;
  width: auto;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .carousel-indicators li,
  .carousel-indicators li.active {
    float: left;
    width: 22%;
    height: 2rem;
    margin: 0;
    border-radius: 0;
    border: 0;
    background: transparent;
  }
  .carousel-control-next,
  .carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(40%);
  }

  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    filter: invert(140%);

    background-color: rgba(19, 19, 19, 0.7);
    transition-timing-function: ease;
    transition: 0.4s;
  }
  .carousel-caption h3 {
    /* Header */
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;

    margin: 0;
    margin-top: -15px;

    padding: 3%;
    padding-bottom: 0;
    padding-top: 2%;
  }
  .carousel-caption p {
    /* Description */
    font-size: 0.8rem;
    color: rgb(219, 219, 219);

    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 3%;
    padding-top: 1%;
  }
  .carousel-indicators li {
    /* Indicators */
    width: 8px;
    height: 8px;
  }

  .carousel-caption {
    background: none;
    height: 10%;
  }

  .carousel-image {
    min-height: 400px;
    max-height: 400px;
    object-fit: contain; /* contain the image */
    object-position: center; /* Center the image within the element */
    width: 150%;
    margin-left: -25%;
  }
}
