.admin__section{
    padding: 50px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fafafa;
}
.admin__wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
}

.admin__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.admin__col{
    background: linear-gradient(45deg, rgba(0, 12, 29, 0.77) 0%, rgba(0, 0, 0, 0.99) 100%);
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
    width: 380px;
    height: 700px;
    text-decoration: none;
    border-radius: 5px;
}

.admin__col:nth-child(2){
    margin: 24px 24px;
}

.admin__colInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    padding: 24px;
    align-items: center;
}

.admin__heading {
    color: #1c2237;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
h2{
    color: #fafafa;
    font-size: 30px;
    margin: 15px 0;
    text-align: center;
    flex-grow: 4;
}

h3{
    font-size: 20px;
    color: #fafafa;
}
.admin__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    color: white;
}

/*Edit Contents Column*/

.admin__update-pages-list{
    font-size: 30px;
    margin: 16px 0 32px;
    padding-left: 0;
    flex-grow: 6;
}
.admin__update-pages-list li{
    margin-bottom: 30px;
}

.update-pages-link{
    color: #fafafa;
}

/*Manage Subscription Column*/
#totalSubCount{
    margin-bottom: 20px;
}
#totalSubCount>h3{
    font-size: 30px;
}
#totalSubCount>p{
    font-size: 30px;
}
.admin__subscription-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.admin__subscription-list{
    font-size: 20px;
    padding-left: 0;
    text-align: center;
    margin: 10px 0 10px;
    flex-grow: 6;
}
/*Web Usage Analysis Column*/
.admin__analysis-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.admin__analysis-list{
    font-size: 20px;
    padding-left: 0;
    text-align: center;
}
.admin__dummy-bar-img{
    height: 160px;
}
.admin__dummy-pie-img{
    margin-bottom: 20px;
}

.admin__analysis-list li{
    margin-bottom: 10px;
}