.vr-container {
  display: flex;
  justify-content: center;
  background-color: black;
}

.vr-screen {
  margin-bottom: 100;
  padding: 0;
  overflow: hidden;
  position: relative;
  background-color: black;
}
