body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: #ea7229;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(234, 114, 41, 1) 45%,
    rgba(0, 38, 46, 0.5998774509803921) 100%
  );
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

code {
  font-family: "Times New Roman", Times, serif;
}
