.tooltip-inner {
  padding: 1rem 1rem !important;
  /* background-color: #013220 !important; */
  font-size: larger;

  color: white;
}
.members-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 50px;
  row-gap: 50px;

  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.contact-button {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.member {
  width: 300px;
}

.title {
  font-size: 24px;
}
.subtitle {
  font-size: 16px;
}
.description {
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .contact-button {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .member {
    width: 200px;
  }

  .members-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20%;
  }

  .title {
    font-size: 16px;
  }
  .subtitle {
    font-size: 12px;
  }
  .description {
    font-size: 10px;
  }
}
