.tooltip-inner {
  padding: 1rem 1rem !important;
  /* background-color: #013220 !important; */
  font-size: larger;

  color: white;
}
.members-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5rem;
  row-gap: 5rem;

  padding-top: 3rem;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.contact-button {
  width: 21rem;
  margin-top: 2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.member {
  width: 24rem;
}

.title {
  font-size: 1.7rem;
}
.subtitle {
  font-size: 1.2rem;
}
.description {
  font-size: 1.2rem;
}

@media screen and (max-width: 1200px) {
  .contact-button {
    width: 7.5rem;
    margin: 0;
    padding: 0.4rem;
    font-size: 0.7rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .card-body {
    padding: 0.8rem;
    padding-top: 0;
  }
  .card-text {
    padding: 0;
  }

  .member {
    width: 10rem;
  }

  .members-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 0.6rem;
    row-gap: 1rem;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 20%;
  }

  .title {
    font-size: 1rem;
  }

  .p {
    margin-bottom: 0;
  }
  .subtitle {
    font-size: 0.8rem;
  }
  .description {
    font-size: 0.8rem;
  }

  .date {
    font-size: 0.8rem;
  }
}
